PORT=4000

USER_SERVICE_URL=http://localhost:8001
CHAT_SERVICE_URL=http://localhost:8002
MESSAGE_SERVICE_URL=http://localhost:8003
NOTIFICATION_SERVICE_URL=http://localhost:8004
PAYMENT_SERVICE_URL=http://localhost:8005
ORDER_SERVICE_URL=http://localhost:8006
PRODUCT_SERVICE_URL=http://localhost:8007
